/* custom.scss */

/* import the necessary Bootstrap files */
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/variables";

/* -------begin Bootstrap customization-------- */

/* simply assign the value */
$main:          #9ecae1;
$second:        #9ecae1;
$third:         #9ecae1;

/* or, use an existing variable */
$theme-colors: (
    primary: $main
);

/* -------end Bootstrap customization-------- */

/* -------begin custom additions-------- */

/* ---footer--- */

/* -------end custom additions-------- */

/* finally, import Bootstrap to set the changes! */
@import "../node_modules/bootstrap";